
# /
*/build
build

# /ResKnife.xcodeproj/
*.pbxuser
*.perspectivev3

.DS_Store

*.xcworkspace/
xcuserdata/
*.movedaside
movedaside/*

-1
*.log

# This branch ("pulled-from-kainjow") doesn't need HexFiend
# It's only necessary for the branch "pulled-from-Wevah"
HexFiend/*
